* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button{
    height: 30px;
    width: 60px;
    border-radius: 25px;
    font-weight: 600;
    background-color: aliceblue;
  }

  input{
    height: 25px;
  }

  p{
    font-size: 25px;
    color: #030301;
    font-weight: 600;
    z-index: inherit;
    font-size: 2rem;
  }

  h2{
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 600;
    color: #0E34A0;
  }


/* section{
    background: url(/img/basketball-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  } */

  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.form-box{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
    /* Fallback for browsers that do not support backdrop-filter */
.element {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
}

/* Blur effect for browsers that support backdrop-filter */
@supports (backdrop-filter: blur(5px)) {
    .element {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.5); /* Transparent white */
    }
}
  




h1 {
    font-size: 38px;
    margin: 10px 0;
    color: #0E34A0;
    
}

h2{
    margin-top: 30px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px; 
}

.basketball-content{
    margin: 15px 0;
}

/* home page */

#home-page{
  overflow: hidden;
  height: 100vh;
  background: #333;
  width: 100%;
  color: #fff;

}
.home-container{
  width: 100%;
  height: 100%;
  background: url();
}

.home-container .fixed{
  position: fixed;
  top: -100px;
  left: -104px;
  font-size: 350px;
  font-family: ;
  opacity: 0.5;
  -webkit-text-stroke: 2px solid #fff;
  text-shadow: 0px 0px 8px #fff;
}

.frame{
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.wrapper{
  display: grid;
  place-items: center;
  margin-bottom: 20%;
}

.home-imgs{
position: relative;
}

.home-imgs img{
  position: absolute;
  width: 450px;
  box-shadow: 0px 0px 10px #000;
  transform: scale(1);
      border-radius: 25px;
}

.home-imgs img:first-child{
  top: -150px;
  left: -250px;
  width: 300px;
}

.home-imgs img:nth-child(2){
  top: -30px;
  left: -180px;
}

.home-imgs img:last-child{
  top: 170px;
  left: 30px;
  width: 320px;
}

.heading{
  position: relative;
  z-index: 99;
}

.logo{
  width: 100%;
  text-align: right;
  font-size: 25px;
  padding: 25px 0px;
}

.logo span{
  display: inline-block;
  font-size: 50px;
}

.text{
  margin-top: 60px;
}

.text div{
  overflow: hidden;
}

.text h1{
  font-family: Aquire;
  font-size: 98px;
  line-height: 100%;
  -webkit-text-stroke: 2px #fff;
  text-shadow: 0px 0px 8px #fff;
}

.heading p {
  padding: 30px 0px;
  font-size: 19px;
}

.heading a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  border: 1px solid#fff;
  padding: 14px 20px;
  -webkit-transition: 0.5s;
}

.heading a:hover{
  background: #000;
  color: #fff;
}

.heading a:hover ~ #ball{
  border: 2px solid crimson;
}

.cool-text {
  position: absolute;
  right: 28px;
  bottom: 23px;
  opacity: 1;
  margin: 0;
  letter-spacing: 6px;
  animation: is-off 2s linear infinite;
  
}

@keyframes is-off{
  0%{
opacity: 0.6;
  }
   50%{
    opacity: .6;
  }
   56%{
    opacity: 0;
  }
     57%{
     opacity: 0;
  }
   58%{
     opacity: .6;
  }
   71%{
    transform: scaleY(1) skew(0deg);
  }
   72%{
     transform: scaleY(3) skew(-60deg);
  }
   73%{
     transform: scaleY(1) skew(0deg);
  }
   80%{
    opacity: .6;
  }
    81%{
    opacity: 0;
  }
   82%{
    opacity: .6;
  }
   85%{
        opacity: .6;
  }
   91%{
     transform: scaleX(1) scaleY(1) skew(0deg);
     color: #fff;
  }
   92%{
     transform: scaleX(1.5) scaleY(0.2) skew(80deg);
          color: #fff;
  }
   93%{
    transform: scaleX(1) scaleY(1) skew(0deg);
          color: #fff;
  }
}

.link_grow{
  width: 70px  !important;
  height: 70px !important;
  border: 2px solid #fff;
  background: #fff;
  mix-blend-mode: difference;
}

.text_grow{
  width: 120px !important;
  height: 120px !important;
  border: 2px solid #000;
  background: #fff;
  mix-blend-mode: difference;
}

#ball{
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius:  50%;
  pointer-events: none;
  height: 40px;
  border: 2px solid #fff;
  margin-right: 14px;
  z-index: 9999;
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: background, transform,-webkit-transform;
}